@keyframes blink {
    0% { background-color: #1F42E3; color: white }
    25% { background-color: white; color: black }
    50% { background-color: #1F42E3; color: white }
    75% { background-color: white; color: black } 
    100% { background-color: #1F42E3; color: white }
}

.contact-wrapper {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-title {
        font-size: 10em;
        font-weight: bold;
        border: 2px solid white;
        border-right: none;
        border-left: none;
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 0;
        text-align: center;
        justify-content: center;
        animation: blink 1.2s ease forwards;
    }

    form {
        width: calc(100vw - 600px);
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;
        font-family: 'Montreal';

        .two-col {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 15px;
            grid-gap: 15px;
    
            div {
                label {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                input {
                    height: 50px;
                    background-color: #1F42E3;
                    border: 1px solid white;
                    color: white;
                    font-size: 20px;
                    outline: none;
                    box-sizing: border-box;
                    padding: 20px;

                    &:focus {
                        outline: 1px solid white;
                    }

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.75);  
                        opacity: 0.5;    
                        font-size: 18px;
                        font-weight: 100;
                        font-family: 'Montreal';
                    }
                    
                }
            }
        }

        .one-col {
            display: grid;
            grid-template-columns: 1fr;
            margin: 15px;
            grid-gap: 15px;
            justify-items: flex-start;
            

                label {
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                    width: 100%;
                }

                textarea {
                    height: 250px;
                    border: 1px solid white;
                    overflow: auto;
                    resize: none;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 20px;
                    color: white;
                    outline: none;
                    background-color: #1F42E3;
                    padding: 15px;
                    font-family: 'Montreal';

                    &:focus {
                        outline: 1px solid white;
                    }

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.75);  
                        opacity: 0.5;    
                        font-size: 18px;
                        font-weight: 100;
                        
                    }
                }
        }

        .btn-container {
            display: flex;             
            justify-content: flex-end; 
            margin: 15px;
             
             

            button {
                padding: 20px;
                font-size: 1em;
                background-color: #1F42E3;  
                border: 1px solid white;
                color: white;
                cursor: pointer; 
                
            
                &:hover {
                    outline: 1px solid white;
                }
            
            }
        }

        .privacyPolicy {
            padding: 15px;
            font-size: 0.7em;
            margin-top: -20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 50px;
            align-items: center;

            .success-message{
                text-align: end;
                margin: 0;
                min-height: 20px;
            }

            a {
                color: white
                ;
            }
        }
    }

}
