@keyframes blink {
  0% { background-color: #1F42E3; color: white }
  25% { background-color: white; color: black }
  50% { background-color: #1F42E3; color: white }
  75% { background-color: white; color: black } 
  100% { background-color: #1F42E3; color: white }
}

.cv-section {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 10em;
    font-weight: bold;
    margin-bottom: 20px;
    border: 2px solid white;
    border-right: none;
    border-left: none;
    width: 100vw;
    display: flex;
    justify-content: center;
    animation: blink 1.2s ease forwards;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
    width: calc(100vw - 800px);
    margin-bottom: 50px;
}

.pic-info {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 15px;
    height: auto; 
}

.image img {
    width: 350px;
    height: auto;
    border: 2px solid white;
}

.subtitle {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtitle div {
    line-height: 35px;
}

.myname {
    font-size: 1.5em; 
    font-weight: 600; 
}

.cv-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2em;
    line-height: 35px;
    text-align: justify;
    margin: 0;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 800px);
    margin-top: 50px;
    padding: 20px 0;
    margin: 0 auto;
}

.section {
    padding: 15px; 
    margin: 20px 0;
    width: 100%; 
    letter-spacing: 1px;
}


.section p {
    border-bottom: 1px solid white; 
    padding-bottom: 10px;
    margin-bottom: 10px; 
    font-size: 1.2em;
}

.section h2 {
    border-bottom: 2px solid white; 
    padding-bottom: 5px; 
    margin-bottom: 15px; 
    font-size: 1.5;
}


.skill-bar {
    margin: 10px 0;
}

.skill-name {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.bar-container {
    width: 100%;
    background-color: #e0e0e0; 
    border-radius: 10px;
    overflow: hidden; 
    height: 6px; 
}

.skill-progress {
    height: 100%;
    background-color: #85a7ea; 
    transition: width 0.5s; 
}

.download-btn {
    position: relative;
    width: 150px;
    color: white;
    border: 1px solid white;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    text-decoration: none;
    align-content: center;

    &:hover {
      outline: 1px solid white;
    }
  }
  
  