.footer {
    height: 300px; 
    display: flex;
    flex-direction: column;
    width: calc(100vw - 200px);
    align-items: center;
    font-size: 1.2em;
    margin-top: 300px;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 50px;

    .footer-content {
        word-spacing: 6px;
        letter-spacing: 6px;
        width: 100%; 
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 70px;

        // Ajustes para pantallas más pequeñas
        @media (max-width: 768px) {
            width: 90%; 
            row-gap: 30px; 

            p {
                font-size: 1em;
            }
        }

        @media (max-width: 480px) {
            width: 95%; 
            row-gap: 20px; 

            p {
                font-size: 0.8em;
            }
        }
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-bottom: 50px;

        
        @media (max-width: 978px) {
            grid-template-columns: repeat(2, 1fr); 
            margin-bottom: 30px; 
            font-size: 1em;
        }

        @media (max-width: 517px) {
            grid-template-columns: 1fr; 
            font-size: 0.8em;
        }

        a {
            text-decoration: none;
            color: white;
            border-bottom: 1px solid transparent;
            padding: 5px;
            transition: 0.3s ease;

            &:hover {
                border-bottom: 1px solid white;
            }
        }
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

        
        @media (max-width: 1166px) {
            grid-template-columns: 1fr;
            font-size: 0.65; 
            margin-bottom: 10PX;
        }


        @media (max-width: 517px) {
            grid-template-columns: 1fr;
            font-size: 0.65em;
            margin-bottom: 10PX;
        }

        a {
            color: white;
            text-decoration: none;
            border: 1px solid white;

            &:hover {
                background-color: #8bacee;
            }
        }
    }

    // Cambios para privacy-footer
    &.privacy-footer {
        .nav-links a {
            color: black;
            border: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid black;
            }
        }

        .footer-links a {
            color: black; 
            border: 1px solid black;

            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}
