.hero-container {
    width: 750px; 
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 170px;

    .text-wrapper {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
    }

    .data { 
        color: white;
        font-weight: 500;
        font-size: 8.5em; 
        align-self: flex-start; 
        margin: 0;

        // Ajuste para pantallas más pequeñas
        @media (max-width: 768px) {
            font-size: 6.5em; 
        }

        @media (max-width: 581px) {
            font-size: 5.5em; 
        }

        @media (max-width: 581px) {
            font-size: 4.5em;
        }

        @media (max-width: 431px) {
            font-size: 3.5em; 
        }
    }
}

// Media query para ajustar el contenedor
@media (max-width: 768px) {
    .hero-container {
        width: 100%;
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    .hero-container {
        padding: 10px;
        margin-top: 100px; 
    }
}
