.hero-container {
    width:770px;
    display: flex;
    align-items: center;

    .data { 
        color: white;
        font-weight: 500;
        font-size: 9.2em;
        align-self: flex-start;
    }
}
