.background-pattern {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    pointer-events: none; 
    background-size: cover; // Asegura que el fondo cubra el área completamente
    background-repeat: no-repeat; // Evita que la imagen se repita
    background-position: center;
    z-index: -1; // Asegura que el fondo esté detrás de otros elementos
}

.static {
    opacity: 0.1; 
}

.animated {
    opacity: 0.1; 
}